<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MathNet.Numerics" version="4.8.1" targetFramework="net472" />
  <package id="MathNet.Numerics.MKL.Win" version="2.3.0" targetFramework="net472" />
  <package id="SharpLearning.Common.Interfaces" version="0.31.8" targetFramework="net472" />
  <package id="SharpLearning.Containers" version="0.31.8" targetFramework="net472" />
  <package id="SharpLearning.InputOutput" version="0.31.8" targetFramework="net472" />
</packages>